{{!-- where we put the specific instructions for the --}}

  <div id="modalUser" class="modal center-align">
    <div class="modal-content ">
      <h4>Your User Number is</h4>
      <h3 id='modalUserNumber'>{{userNumber}}</h3>
      <h5 id='cityInner'>{{city}}</h5>
      <p>you can use this number to get your Morning Info from wherever you are!</p>
      <h5 id='nameInner'>{{name}}</h5>
      <h5 id='latitudeInner'>{{latitude}}</h5>
      <h5 id='longitudeInner'>{{longitude}}</h5>
      <a id='closeModal'class='modal-close btn btn-large waves-effect'>Close</a> 
    </div>
  </div>

 <nav>
  <div class="nav-wrapper">
      <a href='#modalUser'class="modal-trigger brand-logo">{{name}}'s morning</a>
      {{!-- <h2 class='left-align brand-logo'>{{name}}'s morning</h2> --}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#toDo">To Do</a></li>
      <li><a href="#weather">Weather</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#toothTimer">Tooth Timer</a></li>
      <li><a href='#modalUser' class='modal-trigger'>View User Number</a></li>
      </ul>
  </div>
</nav>

<div class="parallax-container">
    <div class="parallax valign-wrapper"><img src="./assets/images/weatherBack2.jpg"></div>
    {{#if motivation}}
      <h1 id='motivation'class='center-align'>{{motivation}}</h1>
    {{/if}}
</div>

<div class='row section scrollspy' id='toDo'>
    <div class='container'>
      <div class='col s12'>
        <ul class='todos collection collapsible'>
          <li class="collection-header center-align"><h2>Tasks for today</h2></li>
          {{#each todos}}
            {{#unless completed}}
                <a href='#!' id='{{this.id}}' class='todoTask collection-item'>{{this.description}}</a>
            {{/unless}}
          {{/each}}
          {{#each todos}}
            {{#if completed}}
                <li id='{{this.id}}' class='strikethrough collection-item'>{{this.description}}</li>
            {{/if}}
          {{/each}}
           <li>
            <div class="collapsible-header"><i class="material-icons">add</i>ADD TASK</div>
            <div class="collapsible-body">
              <form>
                <input placeholder="what are we getting done today?" id="newTask" type="text" class="validate">
                <a type="submit" id='addTask'class='btn-large waves-effect'><i class="material-icons">add</i></a>
                <a id='clearTasks'class='red btn-large waves-effect'>Clear all tasks</a>
              </form>
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </div>

  <div class="parallax-container center-align">
    <div class="parallax"><img src="./assets/images/weatherBack2.jpg"></div>
    <h2 class='whiteText section scrollspy' id='weather'>Weather Baby</h2>
    <button onclick="getLocation()">Try It</button>

    <!-- weather current location tracker -->

    <p id="demo"></p>
  </div>

  <div class='row section scrollspy' id='news'>
      <div class='container col s12 center-align section'>
        <h2>News for the day goes here</h2>
        <a id='checkNews'class='btn btn-large'>check news</a>
      </div>
  </div>

  <div class="parallax-container center-align">
    <div class="parallax"><img src="./assets/images/weatherBack2.jpg"></div>
    <h2 class='whiteText section scrollspy' id='toothTimer'>Teeth Brushing Button!</h2>
    <a id="toothTimerButton" type="button" class="pulse btn btn-large hoverable white-text">Start Timer</a>
  </div>


  {{!-- <script type="text/javascript" src="./app.js"></script> --}}
