{{!-- where we put the specific instructions for the --}}

 <nav>
  <div class="nav-wrapper">
      <!-- <a href="#" class="brand-logo">User Number: </a> -->
      <h3 class='left-align brand-logo'>User Number: </h3>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#toDo">To Do</a></li>
      <li><a href="#weather">Weather</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#toothTimer">Tooth Timer</a></li>
      </ul>
  </div>
</nav>

<div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="./assets/images/weatherBack2.jpg"></div>
    {{#if motivation}}
      <h1 class='center-align'>{{this.motivation}}</h1>
    {{/if}}
</div>

<div class='row section scrollspy' id='toDo'>
    <div class='container'>
      <div class='col s12'>
        <ul class='todos collection collapsible'>
          <li class="collection-header center-align"><h2>Tasks for today</h2></li>
          {{#each todos}}
            {{#unless completed}}
                <a href='#!' id='{{this.id}}' class='todoTask collection-item'>{{this.description}}</a>
            {{/unless}}
          {{/each}}
          {{#each todos}}
            {{#if completed}}
                <li id='{{this.id}}' class='strikethrough collection-item'>{{this.description}}</li>
            {{/if}}
          {{/each}}
           <li>
            <div class="collapsible-header"><i class="material-icons">add</i>ADD TASK</div>
            <div class="collapsible-body">
              <form>
                <input placeholder="what are we getting done today?" id="newTask" type="text" class="validate">
                <a type="submit" id='addTask'class='btn-large waves-effect'><i class="material-icons">add</i></a>
                <a id='clearTasks'class='red btn-large waves-effect'><i class="material-icons">delete</i></a>
              </form>
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </div>

  <div class="parallax-container center-align">
    <div class="parallax"><img src="./assets/images/weatherBack2.jpg"></div>
    <h2 class='whiteText section scrollspy' id='weather'>Weather Baby</h2>
  </div>

  <div class='row section scrollspy' id='news'>
      <div class='container col s12 center-align section'>
        <h2>News for the day goes here</h2>
      </div>
  </div>

  <div class="parallax-container center-align">
    <div class="parallax"><img src="./assets/images/weatherBack2.jpg"></div>
    <h2 class='whiteText section scrollspy' id='toothTimer'>Teeth Brushing Button!</h2>
    <a id="toothTimerButton" type="button" class="pulse btn btn-large hoverable white-text">Start Timer</a>
  </div>



  <script type="text/javascript" src="./app.js"></script>